* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

section {
    max-width: 1140px;
    margin-left: 10%;
    margin-right: 10%;
}

/* ========== header area==========  */
header {
    height: 100vh;

    background-image: url('images/banner/banner1.png');
    background-size: cover;
    background-position: center left;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-container {
    width: 525px;
    text-align: right;
    max-width: 1140px;
    margin: 0 10%;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
}

.header-description {
    line-height: 26px;
    color: #444343;
    margin: 30px 0;
}

.header-btn {
    padding: 20px 30px;
    background-color: #F15B22;
    border: 0;
    border-radius: 5px;
}

.header-btn a {
    color: #FFFFFF;
    text-decoration: none;

}

/* ========== Failure Area==========  */
.failure {
    margin-top: 130px;
}

.failure-container {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-between;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.failure-detail,
.failure-list li {
    color: #444343;
    margin: 25px 0;
}

.failure-right {
    margin-top: 120px;
}

.failure-right ul {
    list-style: none;
}

.failure-list li i {
    color: #4ecb71;
}

/* ========== Plan Area==========  */
.plan {
    margin-top: 130px;
}

.plan-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}

.plan-container {
    display: flex;
    justify-content: space-around;
}

.plan-item {
    text-align: center;
}

.plan-item h3 {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin: 15px 0;
}

.plan-item p {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* ========== Small Banner ==========  */
.small-banner{
    margin-top: 130px;
    height: 300px;
    background-image: url('images/watch.png'),linear-gradient(to right,rgba(241, 91, 34, 1),rgba(241, 91, 34, 0));
    background-blend-mode: overlay;
}